* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --background-color: linear-gradient(#eeeeee, #cccccc);
  --contrast: #e1593a;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: #000000;
  font-weight: 400;
  background: rgb(235, 235, 235);
  background: -moz-linear-gradient(
    90deg,
    rgba(235, 235, 235, 1) 0%,
    rgba(244, 244, 244, 1) 16%,
    rgba(247, 247, 247, 1) 32%,
    rgba(251, 251, 251, 1) 48%,
    rgba(255, 255, 254, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(235, 235, 235, 1) 0%,
    rgba(244, 244, 244, 1) 16%,
    rgba(247, 247, 247, 1) 32%,
    rgba(251, 251, 251, 1) 48%,
    rgba(255, 255, 254, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(244, 244, 244, 1) 0%,
    rgb(244 244 244 / 83%) 16%,
    rgb(250 250 250) 32%,
    rgb(250 250 250) 48%,
    rgb(253 253 253) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebebeb",endColorstr="#fffffe",GradientType=1);
}

p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

cite {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

figure {
  margin-left: 0;
  margin-right: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--contrast);
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

a img {
  border: 0;
}

a,button,[role='button'],input,label,select,textarea {
  touch-action: manipulation
}

button {
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  display: inline-block;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

h1,
.txthead1 {
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin-bottom: 0.7142857143em;
  color: #212326;
  font-size: 1.75em;
  line-height: 1.2142857143;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.0207142857em;
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  h1,
  .txthead1 {
    font-size: 1.75em;
    margin-bottom: 0.4166666667em;
  }
}

@media screen and (min-width: 67.5em) {
  h1,
  .txthead1 {
    font-size: 3em;
    margin-bottom: 0.25em;
  }
}

h2,
.txthead2 {
  -webkit-font-kerning: normal;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual discretionary-ligatures;
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin-bottom: 0.2777777778em;
  color: #212326;
  font-size: 1.375em;
  line-height: 1.1666666667em;
  font-weight: 400;
  font-family: Rubik;
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  h2,
  .txthead2 {
    font-size: 2em;
    margin-bottom: 0.8333333333em;
  }
}

@media screen and (min-width: 67.5em) {
  h2,
  .txthead2 {
    font-size: 2.25em;
    margin-bottom: 0.5em;
  }
}

h3,
.txthead3,
.mc h2,
.marketing-form--inline__heading {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  font-size: 1.25em;
  margin-bottom: 0.4166666667em;
  color: #212326;
  line-height: 1.25em;
  font-weight: 400;
  font-family: Rubik;
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  h3,
  .txthead3,
  .mc h2,
  .marketing-form--inline__heading {
    font-size: 1.25em;
    margin-bottom: 0.9em;
  }
}

@media screen and (min-width: 67.5em) {
  h3,
  .txthead3,
  .mc h2,
  .marketing-form--inline__heading {
    font-size: 1.5em;
    margin-bottom: 0.8333333333em;
  }
}

h4,
.txthead4,
.mc h3 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin-bottom: 0.5em;
  color: #212326;
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 500;
  font-family: Rubik;
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  h4,
  .txthead4,
  .mc h3 {
    font-size: 1.125em;
    margin-bottom: 0.75em;
  }
}

@media screen and (min-width: 67.5em) {
  h4,
  .txthead4,
  .mc h3 {
    font-size: 1.125em;
    margin-bottom: 0.6666666667em;
  }
}

h5,
.txthead5 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin-bottom: 1.4285714286em;
  color: #212326;
  font-size: 0.875em;
  line-height: 1.1428571429;
  font-weight: 800;
  font-family: Rubik;
  text-transform: uppercase;
  letter-spacing: 0.04375em;
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  h5,
  .txthead5 {
    font-size: 0.875em;
    margin-bottom: 1.4285714286em;
  }
}

@media screen and (min-width: 67.5em) {
  h5,
  .txthead5 {
    font-size: 0.875em;
    margin-bottom: 1.4285714286em;
  }
}

.underline {
  text-decoration: underline;
}

.ffb {
  color: rgb(0, 0, 0);
}

#container {
  overflow: hidden;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

main {
  display: flow-root;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}

main p,main ul,main ol {
  margin-bottom: 1em;
  line-height: 1.5;
  font-size: 1em
}

main p>a {
  color: #96412e;
  text-decoration: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-style: solid;
  text-decoration-style: solid;
  -webkit-text-decoration-color: currentColor;
  text-decoration-color: currentColor;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

main p>a:hover,main p>a:focus {
  text-decoration: none
}

main p>a:active {
  background-color: rgba(0,128,96,0.125)
}

.main-content {
  margin: 0;
  align-items: center;
}

.section {
  padding: 4em 0;
}

@media screen and (min-width: 46.875em) {
  .section {
    padding-top: 6em;
    padding-bottom: 6em;
  }
}

@media screen and (min-width: 46.875em) {
  .s1 {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

.s1 {
  padding: 2em 0;
}

.s2 {
  padding: 0%;
}

.s-top {
  margin-bottom: 2.8125em;
  text-align: center
}

@media screen and (min-width: 67.5em) {
  .s-top {
    margin-bottom:3.75em
  }
}

.grid {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.grid::after {
  content: "";
  display: table;
  clear: both;
}

@supports (display: flow-root) {
  .grid {
    display: flow-root;
  }

  .grid::after {
    content: none;
  }
}

@media screen and (min-width: 100em) {
  .grid {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.grid .grid {
  padding-left: 0;
  padding-right: 0;
  margin-left: -4px;
  margin-right: -4px;
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  .grid .grid {
    margin-left: -9px;
    margin-right: -9px;
  }
}

@media screen and (min-width: 67.5em) {
  .grid .grid {
    margin-left: -18px;
    margin-right: -18px;
  }
}

.grid-item {
  display: block;
  position: relative;
  width: 100%;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}

@media screen and (min-width: 67.5em) {
  .grid-item {
    padding-right: 18px;
    padding-left: 18px;
  }
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  .grid-item {
    padding-left: 9px;
    padding-right: 9px;
  }
}

@media screen and (min-width: 46.875em) {
  .quarter-column {
    width: 25%
}
}

/*.grid--equal-height,*/
.g1 {
  display: flex;
  flex-wrap: wrap;
}

.g1 {
  align-items: center;
}

.gc {
  background-color: #a7a7a7;
}

/*start header*/
.header-navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-navbar-content {
  max-width: 1600px;
  margin: 0 auto;
}

.nav {
  background-color: #ffffff;
  border-bottom: none;
  width: 100%;
  position: relative;
  clear: both;
}

.hnc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: calc(5% + 4px);
  padding-right: calc(5% + 4px);
  border-bottom: 1px solid #dcdcdc;
}

@media screen and (min-width: 46.875em) {
  .hnc {
    padding-left: calc(5% + 9px);
    padding-right: calc(5% + 9px);
  }
}

@media screen and (max-width: 67.4375em) {
  .hnc {
    height: 60px;
  }
}

@media screen and (min-width: 67.5em) {
  .hnc {
    padding-left: calc(5% + 18px);
    padding-right: calc(5% + 18px);
  }
}

@media screen and (min-width: 67.5em) {
  .hnc {
    min-height: 80px;
  }
}

.nav-elements {
  margin-right: auto;
  display: flex
}

@media screen and (min-width: 46.875em) {
  .nav-elements>li {
      line-height:60px
  }
}

@media screen and (min-width: 67.5em) {
  .nav-elements>li {
      line-height:80px;
  }
}

.nels {
  /*display: none !important;*/
}

@media screen and (min-width: 67.5em) {
  .nels {
      display:flex !important;
  }

}

.nel {
  font-size: 1.0625em;
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 46.875em) {
  .nel {
      margin-left:15px;
      margin-right: 15px;
      padding-left: 0;
      padding-right: 0;
  }
}

@media screen and (min-width: 46.875em) {
  .nel {
      height:60px;
  }
}

@media screen and (min-width: 67.5em) {
  .nel {
      height:80px;
  }
}

.nav-element {
  display: block;
  white-space: nowrap;
  font-size: 1.0625em;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  transition-property: border-color, fill;
  transition: 300ms;
}

.nav-element:focus, .nav-element:hover {
  color: #96412e;
}

.nav-logo {
  /*margin-right: auto;*/
  margin-right: 30px;
}

@media screen and (min-width: 67.5em) {
  .nav-logo {
    margin-right: 1.5625em;
  }
}

.nav-logo .icon,
.menu-icon .icon,
.close-button .icon {
  width: 100%;
  height: 100%;
}

.marketing-nav--skin-light .menu-icon {
  fill: #ff0000;
}

.menu-icon {
  box-sizing: content-box;
  width: 1.25em;
  height: 1.25em;
  padding: 0.75em;
  margin-right: -0.75em;
}

.arrow-icon {
  box-sizing: content-box;
  width: 1.25em;
  height: 1.25em;
  margin-right: -0.75em;
}

@media screen and (min-width: 850px) {
  .hide--expanded-nav {
    display: none !important;
  }
}

.nav-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  background-color: rgb(220 220 220);
  overflow-x: hidden;
  transition: 0.5s;
  max-width: 100%;
}

.menu-grid {
  position: relative;
  min-height: 100%;
  padding-right: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
}

.menu-header {
  position: relative;
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.close-button {
  display: block;
  box-sizing: content-box;
  width: 1.25em;
  height: 1.25em;
  padding: 0.75em;
  fill: #212326;
  position: absolute;
  top: 50%;
  right: -0.75em;
  transform: translateY(-50%);
}

.menu-items {
  padding-top: 16px;
  border-top: 1px solid#8b8b8b;
}

.item {
  display: block;
  width: 100%;
  color: #212b36;
  font-size: 1em;
  font-weight: 500;
  padding-top: 0.625em;
  padding-bottom: 0.625em;
  text-align: left;
  line-height: 1;
  transition: color 300ms;
}

.i1 {
  font-size: 1em;
  font-weight: 500;
  text-transform: normal;
  padding-top: 16px;
  padding-bottom: 16px;
}

/*end header*/

/* Start-recommendation  */
.section-topcontent {
  margin-bottom: 2.8125em;
  text-align: center;
}

@media screen and (min-width: 67.5em) {
  .section-topcontent {
    margin-bottom: 3.75em;
  }
}

.undercontent {
  margin-bottom: 0 !important;
}

.tleft {
  margin-top: 50px;
  text-align: left;
}

#related-blogs {
  margin-top: 0%;
}

.top-text {
  font-size: 2.25em;
}

@media screen and (min-width: 46.875em) {
  .top-text {
    font-size: 3.125em;
  }
}

@media screen and (min-width: 90em) {
  .top-text {
    font-size: 3.75em;
  }
}

.head-text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin-bottom: 0.5555555556em;
  color: #212326;
  font-size: 1.25em;
  line-height: 1.2222222222;
  font-weight: 800;
  font-family: "Rubik", sans-serif;

  letter-spacing: -0.025em;
}

@media screen and (min-width: 900px) {
    .head-text {
      font-size: 1.95em;
    }
  }

/* End-recommendation  */

/*Start-Recommended articles*/
.recommendation-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  align-items: start;
  justify-items: start;
  margin-top: 24px;
}

@media screen and (max-width: 46.8125em) {
  .recommendation-articles .rec-article:nth-child(n + 5) {
    display: none;
  }
}

@media screen and (min-width: 46.875em) and (max-width: 67.4375em) {
  .recommendation-articles {
    grid-template-columns: repeat(4, 1fr);
  }

  .recommendation-articles .rec-article:nth-child(n + 5) {
    display: none;
  }
}

@media screen and (min-width: 750px) and (max-width: 850px) {
  .recommendation-articles {
    grid-template-columns: repeat(3, 1fr);
  }

  .recommendation-articles .rec-article:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (min-width: 67.5em) {
  .recommendation-articles {
    grid-template-columns: repeat(5, 1fr);
  }
}

.rec-article {
  display: block;
}
.article-container {
  display: block;
  border-color: #000000;
  margin-bottom: 2.8125em;
  background-position: center;
  background-image: url(https://images.hdqwalls.com/wallpapers/minimalistic-abstract-colors-simple-background-5k-fc.jpg);
  /*background: darkblue;*/
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  height: 460px;
  /*width: 329px;*/
  border-radius: 9px;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 500px) {
  .article-container {
    height: 250px;
  }
}

.hov-scale:hover {
  transform: scale(1.03);
}

.foc-scale:focus {
  transform: scale(1.03);
}

.hov-translate:hover {
    transform: translateX(20px);
}

.card-text {
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 5px;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
}

@media screen and (max-width: 500px) {
  .article-container .card-text {
    padding-top: 10px;
    font-size: 20px;
  }
}

.go-to-article {
  color: #b6b6b6;
  padding-left: 15px;
  font-size: 18px;
}

.gta-inner {
  color: #7e7e7e;
  font-size: 14px;
}

.link__arrow {
  position: absolute;
  margin-top: 8px;
}

@media screen and (min-width: 938px) {
  .link__arrow {
    margin-top: 5px;
  }
}

.gta-inner .link__arrow {
  margin-top: 4.5px;
}

.link__arrow-inner.icon {
  width: 1.2em;
  height: 1.2em;
}

.link__arrow-inner {
  fill: #b6b6b6;
  transform: translateX(0);
  transition: transform 300ms cubic-bezier(0.4, 0.22, 0.28, 1);
}

.gta-inner .link__arrow-inner {
  fill: #7e7e7e;
}

.go-to-article:hover .link__arrow-inner,.link:focus .link__arrow-inner, .gta-inner:hover .link__arrow-inner {
  transform: translateX(0.3em)
}


/*End-Recommended articles*/

.news {
  color: darkred;
}

.column {
  display: table-cell;
  float: left;
  width: 49%;
  margin-bottom: 20px;
  margin-right: 12px;
}

#col-2,
#col-4 {
  margin-right: 0;
}
/* Remove extra left and right margins, due to padding */
.row {
  margin-top: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 673px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Style the counter cards */
.cardgc {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0px;
  text-align: center;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  color: #3d3d3d;
  transition: all 0.2s ease-in-out;
}

.card-image {
  width: 100px;
  border-radius: 8px;
  background-position: center;
}

.card-image img {
  height: 122px;
  border-radius: 10px;
}

#ci2 {
  background-position: center;
}

.card-image_text {
  display: grid;
  font-weight: 600;
  max-width: 65%;
  font-size: 16px;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 5px;
}
/*
.artcl {
    margin-bottom: 2.375em;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.artclimage
{
    display: block;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
    max-width: 300px;
}

.artclimage img
{
    width: 100%;
    transition: transform 300ms;
    transform-origin: 50% 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
*/

/*start-bottom navigation*/

.navMobile {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-top: 1px solid #f0f0f0;
  background-color: #ffffff;
  z-index: 100;
}

.navMobile ul {
  margin-top: 0px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.bottom-fixed--navigation {
  padding-top: 12px;
}

nav a img {
  height: 25px;
}

.active {
  fill: red;
}
/*end-bottom navigation*/
